GOOGLE_API_KEY=AIzaSyAb24tFZDbzqEPi2V54yXuHBfOdTL8Mrqs
GEMINI_MODEL=gemini-1.5-flash
GOOGLE_EMBEDDING_MODEL=text-embedding-004
JWT_SECRET_KEY=56295e6a-98bf-4d15-baef-39781f8d2ae0
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
GOOGLE_CLIENT_ID=771104876053-2c4aj966cju66j6tdefgbb1u2ilnseee.apps.googleusercontent.com
SUPABASE_URL=https://xuwnkcjmwukqhindrczj.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1d25rY2ptd3VrcWhpbmRyY3pqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTg3NDU4OSwiZXhwIjoyMDk1NDUwNTg5fQ.o6d_WdO2bdTg71pKCMNIZkX8jkbrQh8tpfHkRyDIiLw
DATABASE_URL=postgresql://postgres.xuwnkcjmwukqhindrczj:a4867869698@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true
CORS_ORIGINS=http://localhost:5173
UPLOAD_DIR=./storage/uploads
